
@{
    ViewData["Title"] = "AlugarEquipamento";
}

<html>
<body>
    <h2>AlugarEquipamento</h2>
  
    <table>
        <tr>
            <td>Quantidade:</td>
            <!--asp-for=quantidade, tabela:Linha Empresa Equipamento-->
        <td><input /></td>
        </tr>
        <tr>
            <td>
                <label>Digite o dia de Reserva:</label>
             
            </td>
            <td>
                <!--asp-for=DataReserva , tabela:ReservaEquipamento-->
                <input />
            </td>
        </tr>
       
    </table>
    
    
    
  
  
   
   
  

</body>
</html>
