@model IEnumerable<Equipamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<html>
<body>
 
        <table class="table">
            <thead>
                <tr>
                    <th>Nome de Equipamento</th>
                    <th>Descricao</th>
                    <th>Preco por Unidade</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var e in Model)
               {
                <tr>
                    <td>@e.NomeEquipamento</td>
                    <td>@e.DescricaoEquipamento</td>
                    <td>@e.ValorUnidade</td>
                </tr>

               }
                </tbody>
</table>
    <input type="submit" value="Alugar" />
    <input type="submit" value="Voltar" />
</body>
</html>

