@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<html>

<head>
    <style>
     
      body{
        padding:50px 50px 0px 50px;

      }

    </style>
</head>

    <body>
        <br />
        <br />
        
        <center>


            <div class="bodyClass" width="20px" style="text-align:justify;">

                <h1 style="text-decoration-color:red;">Como Chegar a Serra da Estrela?</h1>

                <b>Acesso rodoviário</b> <br /><br /><br />

                O acesso rodoviário à serra da Estrela pode ser feito a partir das seguintes estradas:<br />
                - A 25 - Aveiro / Viseu / Celorico da Beira / Guarda / Vilar Formoso;<br />
                - A 23 - Torres Novas/ Covilhã / Guarda;<br />
                - IP 3 / IC 6 / EN 17 - Coimbra / Oliveira do Hospital / Seia;<br />
                - IP 3 / IC 12 / EN 231 - Coimbra / Nelas / Seia;<br />
                - EN 16 - Celorico da Beira / Guarda;<br />
                - EN 17 - Celorico da Beira / Gouveia / Seia;<br />
                - EN 18 – Guarda / Covilhã / Fundão;<br />
                - EN 231 - Viseu / Nelas /Seia.<br />



            </div>
        </center>

</body>
</html>