@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    
</head>
<body>
    <h1>Fauna</h1>
    <hr style="border:dashed 1px black;" />
    <br />
    <div style="height:auto;overflow:hidden;margin-bottom:10px;">
        A fauna selvagem da serra da Estrela caracteriza-se por uma riqueza e diversidade elevadas, constituindo,
        a nível nacional, uma das áreas de montanha mais importantes para a conservação da natureza. Esta riqueza resulta,
        em grande medida, da significativa diversidade de habitats existente numa área extensa, com uma orografia acidentada 
        e em que a ação  negativa do homem sobre os ecossistemas naturais é pouco expressiva, em relação a outras regiões. Assim,
        na serra da Estrela e áreas envolventes estão inventariadas cerca de 250 espécies de vertebrados terrestres e aquáticos e
        mais de 2100 espécies de invertebrados, muitas das quais possuem um estatuto de conservação prioritário a nível europeu.

    </div>
    <figure style="float:left;margin-left:10px">
        <img src="~/images/Fauna/1-Prionotropisflexuosa.jpg" width="304" height="228"/>
        <figcaption>Prionotropisflexuosa</figcaption>
    </figure>
    <figure style="float:left;margin-left:10px">
        <img src="~/images/Fauna/2-Longicornio.png" width="304" height="228" />
        <figcaption>Longicornio</figcaption>
    </figure>

    <figure style="float:left;margin-left:10px">
        <img src="~/images/Fauna/5-Vibora-cornuda.jpg" width="304" height="228" />
        <figcaption>Vibora Cornuda</figcaption>
    </figure>
    <figure style="float:left;margin-left:10px">
        <img src="~/images/Fauna/6-Rela-comumHylaarborea.png" width="304" height="228" />
        <figcaption>Rela-comumHylaarborea</figcaption>
    </figure>
    <figure style="float:left;margin-left:10px">
        <img src="~/images/Fauna/2-Lagartixa-da-montanha.png" width="304" height="228" />
        <figcaption>Lagartixa da Montanha</figcaption>
    </figure>


</body>
</html>