@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>
    <style>
        img{
            display:inline;
        }
       
    </style>
</head>
<body>
    <div style="font-size:30px;color:lightsteelblue;">Flora e Vegetação</div>
   
    
      
    <div style="height=auto">

        <figure style="float:left ; margin-left:10px;">
            <img src="~/images/Flora/1-ValedaribeiradeLoriga.jpg" alt="The Pulpit Rock" width="304" height="228">
            <figcaption>Fig1. Vale da Ribeira de Loriga- </figcaption>
        </figure>

        <figure style="float:left ; margin-left:10px;">
            <img src="~/images/Flora/covaoPonte.jpg" alt="The Pulpit Rock" width="304" height="228">
            <figcaption>Fig2. - Covao da Ponte.</figcaption>
        </figure>
       
        <div style="height:auto;overflow:hidden;float:right;margin-top:20px;">
            Pela sua posição latitudinal e pequena distância em relação ao oceano Atlântico,
            a serra da Estrela está sujeita a influências climáticas mediterrânicas, atlânticas e
            continentais. Estes aspetos, em conjunto com a complexidade orográfica e geológica e com a
            ação do homem ao longo dos últimos séculos, determinam uma diversidade biológica elevada a
            nível da flora e da vegetação.


        </div>
        <figure style="float:left ; margin-left:10px;">
            <img src="~/images/Flora/4-Azereiro.jpg" alt="The Pulpit Rock" width="304" height="228">
            <figcaption>Fig3. Azeiro - .</figcaption>
        </figure>
        <figure style="float:left ; margin-left:10px;">
            <img src="~/images/Flora/Azinhal Quinta da Taberna.jpg" da alt="The Pulpit Rock" width="304" height="228">
            <figcaption>Fig4. Quinta da Taberna.</figcaption>
        </figure>
        <div style="height:auto;overflow:hidden;float:right;margin-top:20px;">
            O andar basal, desde o sopé da montanha até aos 800-900 metros de altitude,
            seria formado por vastos carvalhais perenes mediterrânicos de azinheira (Quercus rotundifolia)
            e sobreiro (Quercus suber), nas vertentes sudeste e sudoeste, e carvalhais caducifólios de
            carvalho-alvarinho (Quercus robur) a ocidente, norte e noroeste. Extensos bosques de freixos
            (Fraxinus angustifolia) ocorreriam associados a solos húmidos e, nos vales ao longo das linhas
            de água, existiriam densas galerias ripícolas de amieiros (Alnus glutinosa), salgueiros
            (Salix sp.), ulmeiros (Ulmus minor) e azereiros (Prunus lusitanica).

            Na atualidade, a maioria destas formações ocupam áreas reduzidas ou desapareceram completamente
            para dar lugar a áreas de cultivo, prados, pastagens, povoamentos florestais e matos em função
            das atividades  humanas. Vestígios da primitiva cobertura vegetal deste andar podem ser
            encontrados ao longo de vales encaixados, dos quais é exemplo o bosque de azereiros de Casal do
            Rei.
        </div>

   
       
    </div>
</body>
</html>