@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>

<head>

</head>
<body>
    <h1>Informações sobre o site</h1>
    <br />
    <br />
    <div style="text-align:justify;height:auto;overflow:hidden;">
        <p>
            Este Trabalho foi realizado no ambito da Disciplina de <em>Programação para Internet</em>.
            Seu intuito é desenvolver uma plataforma informática que congregue as diferentes caraterísticas dos trilhos como produto vendível para desenvolvimento regional.
            <br />
            <br />
        <p><b>Realizadores:</b></p>

        <p>Miguel Almeida nº 1011311<p>
        <p>Paloma Barreiros nº1012241<p>
        <p>Vera Santos nº1011632<p>
    </div>


</body>
</html>
