@model Trails4Healthy.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Reservar Equipamento</h2>



<!--var loginClass = await _context.Turistas.SingleOrDefaultAsync(m => m.TuristaId == id);--> 


