@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<html>

<head>
    <style>
      .panel-heading1{
          border:1px black solid;
      }
      body{
           width:20px;
      }

    </style>
</head>

    <body>
        <br />
        <br />
        
                <div class="panel-heading1"  width="20px">Como Chegar a Serra da Estrela?</div>
             
        <div class="bodyClass" width="20px" >
                    Acesso rodoviário<br />

                    O acesso rodoviário à serra da Estrela pode ser feito a partir das seguintes estradas:<br />
                    - A 25 - Aveiro / Viseu / Celorico da Beira / Guarda / Vilar Formoso;<br />
                    - A 23 - Torres Novas/ Covilhã / Guarda;<br />
                    - IP 3 / IC 6 / EN 17 - Coimbra / Oliveira do Hospital / Seia;<br />
                    - IP 3 / IC 12 / EN 231 - Coimbra / Nelas / Seia;<br />
                    - EN 16 - Celorico da Beira / Guarda;<br />
                    - EN 17 - Celorico da Beira / Gouveia / Seia;<br     />
                    - EN 18 – Guarda / Covilhã / Fundão;<br />
                    - EN 231 - Viseu / Nelas /Seia.<br />

               
         
        </div>

</body>
</html>