@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>
    <style>
        img{
            display:inline;
        }
       
    </style>
</head>
<body>
    <br />
    <br />
    <p>
        Pela sua posição latitudinal e pequena distância em relação ao oceano Atlântico, <br />
        a serra da Estrela está sujeita a influências climáticas mediterrânicas, atlânticas e <br />
        continentais. Estes aspetos, em conjunto com a complexidade orográfica e geológica e com a<br />
        ação do homem ao longo dos últimos séculos, determinam uma diversidade biológica elevada a <br />
        nível da flora e da vegetação.
    </p>

    <figure style="float:left ; margin-left:10px;">
        <img src="~/images/Flora/1-ValedaribeiradeLoriga.jpg" alt="The Pulpit Rock" width="304" height="228" >
        <figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
    </figure>

    <figure style="float:left ; margin-left:10px;">
        <img src="~/images/Flora/1-ValedaribeiradeLoriga.jpg" alt="The Pulpit Rock" width="304" height="228" >
        <figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
    </figure>
</body>
</html>