@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

</head>

<body>
   
    <h1>Reserve aqui os Equipamentos</h1>

    <div class="ima" style="float:left;position:relative;">

        <a asp-action=""><img src="~/images/equipamentos/2016-Women-Men-tenis-Lace-Up-sport-Casual-Shoes-Flats-zapatillas-deportivas-mujer-tenis-masculino-esportivo.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--Sapatos-->
        <div class="desc">Sapatos</div>
    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/20161028100720_35760.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--Chapéu-->
        <div class="desc">Chapéu</div>

    </div>

    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/80362_1472758575_g.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--Mochila-->
        <div class="desc">Mochila</div>


    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/D_Q_NP_347815-MLB25324478859_012017-Q.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--Relogio-->
        <div class="desc">Rélogio</div>

    </div>

    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/FOTO-4-jpg.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--Casaco-->
        <div class="desc">Casaco</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/Prestigio-PHCPED-pedometro.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/Prestigio-PHCPED-pedometro.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/binoculo.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/bussola.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/lanternas.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>
    <div class="ima" style="float:left;position:relative;">
        <a asp-action=""><img src="~/images/equipamentos/oculosSol.jpg" width="150" height="150" style="margin:10px;" /></a>
        <!--petrometro-->
        <div class="desc">Petrométro</div>

    </div>


</body>

</html>
