@model Trails4Healthy.Models.Trail

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer eliminar este trilho?</h3>
<div>
    <h4>Trilho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Distância
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt>
            Disponibilidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt>
            Dificuldade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrailID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
